.env
.env.local
node_modules/
.next/
data/
public/uploads/
public/vereinsdokumente/
public/AABF.jpeg
public/Logo_Du_Hamborn.jpg
*.log
npm-debug.log*
.DS_Store
Caddyfile
.cups/
.zprofile
.yarnrc
.yarnrc.yml
components/layout/sidebar_backup.tsx
